In [1]:
import molmass
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [1]:
!pip install molmass

Requirement already satisfied: molmass in c:\projects\laboratory\interpreter\lib\site-packages (2021.6.18)

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'c:\projects\laboratory\interpreter\scripts\python.exe -m pip install --upgrade pip' command.

In [3]:
raw_db = pd.read_excel('C:/projects/laboratory/Nanoparticle_cytotoxicity/databases/Merging_tables.xlsx')

In [4]:
raw_db.shape

(8075, 57)

In [5]:
raw_db.describe()

,no,year,diameter (nm),size in water (nm),size in medium (nm),zeta in water (mV),zeta in medium (mV),no of cells (cells/well),time (hr),concentration (ug/ml),...,number of atoms,molecular weight (g/mol),topological polar surface area (Å²),a (Å),b (Å),c (Å),α (°),β (°),γ (°),density (g/cm3)
count,4111.000000,7007.000000,6174.000000,2330.000000,1989.000000,2487.000000,1670.000000,3684.000000,7581.000000,4957.000000,...,494.000000,494.000000,494.00000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000
mean,2056.000000,2013.229770,83.804872,161.317318,201.079628,-10.793844,-11.847219,51227.415852,33.489118,128.845920,...,3.787449,179.658570,34.68664,5.212664,5.713040,7.090787,83.076923,83.596154,91.943320,5.798239
std,1186.887807,3.494216,131.957048,157.079816,202.080642,34.186789,15.778892,119087.964430,23.723869,496.336466,...,1.305848,101.372104,10.80140,2.642547,3.290484,3.784657,24.006552,24.252650,29.784024,2.210094
min,1.000000,2004.000000,1.000000,0.040000,1.900000,-158.000000,-63.310000,300.000000,1.000000,0.000000,...,2.000000,60.080000,17.10000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1028.500000,2011.000000,18.000000,43.800000,77.000000,-33.330000,-20.670000,10000.000000,24.000000,5.000000,...,3.000000,79.545000,34.10000,4.171000,3.945000,5.132000,90.000000,90.000000,90.000000,5.070000
50%,2056.000000,2013.000000,30.000000,112.700000,142.000000,-17.600000,-11.600000,10000.000000,24.000000,25.000000,...,5.000000,159.690000,43.40000,4.920000,5.028000,5.420000,90.000000,90.000000,90.000000,6.310000
75%,3083.500000,2015.000000,99.000000,203.300000,222.000000,-2.200000,-7.700000,50000.000000,48.000000,100.000000,...,5.000000,277.640000,43.40000,5.410000,5.752000,10.118000,90.000000,90.000000,120.000000,6.750000
max,4111.000000,2020.000000,957.000000,889.030000,1262.330000,256.000000,56.000000,1000000.000000,336.000000,14015.200000,...,5.000000,362.500000,43.40000,10.796000,12.460000,13.728000,90.000000,99.500000,120.000000,9.970000

In [6]:
raw_db

,no,year,material,type,shape,coat/functional group,synthesismethod,surface charge,diameter (nm),size in water (nm),...,number of atoms,molecular weight (g/mol),topological polar surface area (Å²),a (Å),b (Å),c (Å),α (°),β (°),γ (°),density (g/cm3)
0,1.0,2015.0,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2015.0,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,2015.0,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2015.0,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,2015.0,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NaN,NaN,NiO,NaN,NaN,NaN,NaN,27.6,NaN,NaN,...,2.0,74.6928,17.1,4.171,4.171,4.171,90.0,90.0,90.0,6.62
8071,NaN,NaN,NiO,NaN,NaN,NaN,NaN,27.6,NaN,NaN,...,2.0,74.6928,17.1,4.171,4.171,4.171,90.0,90.0,90.0,6.62
8072,NaN,NaN,Sb2O3,NaN,NaN,NaN,NaN,-35.3,NaN,NaN,...,5.0,291.5200,43.4,4.920,12.460,5.420,90.0,90.0,90.0,5.36
8073,NaN,NaN,Sb2O3,NaN,NaN,NaN,NaN,-35.3,NaN,NaN,...,5.0,291.5200,43.4,4.920,12.460,5.420,90.0,90.0,90.0,5.36
8074,NaN,NaN,ZnO,NaN,NaN,NaN,NaN,28.8,NaN,NaN,...,2.0,81.3800,17.1,3.249,3.249,5.206,90.0,90.0,120.0,5.44

In [7]:
raw_db = raw_db.drop(['no',
                      'year',
                      'Hsf',
                      'Ec',
                      'Ev',
                      'MeO',
                      'interference checked (Y/N)',
                      'colloidal stability checked (Y/N)',
                      'positive control (Y/N)',
                      'biochemical metric',
                      'Electronegativity',
                      'Ionic radius',
                      'number of atoms',
                      'molecular weight (g/mol)',
                      'topological polar surface area (Å²)',
                      'toxicity',
                      'a (Å)',
                      'b (Å)',
                      'c (Å)',
                      'α (°)',
                      'β (°)',
                      'γ (°)',
                      'density (g/cm3)',
                      'article ID'], axis=1)

In [8]:
raw_db.describe()

,diameter (nm),size in water (nm),size in medium (nm),zeta in water (mV),zeta in medium (mV),no of cells (cells/well),time (hr),concentration (ug/ml),aspect ratio,viability (%),PDI,zeta potential (mV),concentration (μM),core size (nm),hydro size (nm),surface area
count,6174.000000,2330.000000,1989.000000,2487.000000,1670.000000,3684.000000,7581.000000,4957.000000,380.000000,8075.000000,1000.000000,1261.000000,2.896000e+03,1068.000000,1068.000000,1068.00000
mean,83.804872,161.317318,201.079628,-10.793844,-11.847219,51227.415852,33.489118,128.845920,147.247079,76.211737,0.330952,-1.963933,8.574635e+01,40.319850,370.504588,86.42603
std,131.957048,157.079816,202.080642,34.186789,15.778892,119087.964430,23.723869,496.336466,493.111329,31.658323,0.249619,28.925259,7.979487e+02,35.743746,320.034182,133.12824
min,1.000000,0.040000,1.900000,-158.000000,-63.310000,300.000000,1.000000,0.000000,0.100000,-58.897640,0.005000,-48.000000,1.660539e-20,5.900000,46.400000,7.00000
25%,18.000000,43.800000,77.000000,-33.330000,-20.670000,10000.000000,24.000000,5.000000,3.525000,59.460191,0.148000,-27.000000,2.500000e-06,18.300000,208.300000,21.80000
50%,30.000000,112.700000,142.000000,-17.600000,-11.600000,10000.000000,24.000000,25.000000,11.800000,86.980000,0.241000,-8.000000,5.000000e-04,28.400000,273.400000,42.50000
75%,99.000000,203.300000,222.000000,-2.200000,-7.700000,50000.000000,48.000000,100.000000,37.900000,97.304709,0.518000,17.700000,1.054755e-02,50.000000,331.250000,93.10000
max,957.000000,889.030000,1262.330000,256.000000,56.000000,1000000.000000,336.000000,14015.200000,3333.000000,404.811700,0.895000,87.000000,1.500000e+04,369.000000,1843.000000,640.00000

In [9]:
raw_db

,material,type,shape,coat/functional group,synthesismethod,surface charge,diameter (nm),size in water (nm),size in medium (nm),zeta in water (mV),...,aspect ratio,viability (%),PDI,DOI,zeta potential (mV),concentration (μM),core size (nm),hydro size (nm),surface area,cell type.1
0,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
1,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
2,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
3,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
4,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,13.1,189.5,68.7,NaN
8071,NiO,NaN,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,13.1,189.5,68.7,NaN
8072,Sb2O3,NaN,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,11.8,274.9,93.6,NaN
8073,Sb2O3,NaN,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,11.8,274.9,93.6,NaN
8074,ZnO,NaN,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,...,NaN,99.700,NaN,NaN,NaN,NaN,22.6,69.4,47.4,NaN

In [10]:
raw_db = raw_db[raw_db.type != 'O']

In [11]:
raw_db

,material,type,shape,coat/functional group,synthesismethod,surface charge,diameter (nm),size in water (nm),size in medium (nm),zeta in water (mV),...,aspect ratio,viability (%),PDI,DOI,zeta potential (mV),concentration (μM),core size (nm),hydro size (nm),surface area,cell type.1
0,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
1,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
2,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
3,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
4,SiO2,I,Sphere,CTAB,Precipitation,Negative,NaN,386.9,90.09,-35.9,...,NaN,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,13.1,189.5,68.7,NaN
8071,NiO,NaN,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,13.1,189.5,68.7,NaN
8072,Sb2O3,NaN,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,11.8,274.9,93.6,NaN
8073,Sb2O3,NaN,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,11.8,274.9,93.6,NaN
8074,ZnO,NaN,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,...,NaN,99.700,NaN,NaN,NaN,NaN,22.6,69.4,47.4,NaN

In [12]:
raw_db['Hydrodynamic diameter (nm)'] = np.nan

In [13]:
raw_db['Hydrodynamic diameter (nm)'].fillna(raw_db['diameter (nm)'],
                                            inplace=True)
raw_db['Hydrodynamic diameter (nm)'].fillna(raw_db['hydro size (nm)'],
                                            inplace=True)
raw_db['Hydrodynamic diameter (nm)'].fillna(raw_db['size in water (nm)'],
                                            inplace=True)

In [14]:
raw_db.describe()

,diameter (nm),size in water (nm),size in medium (nm),zeta in water (mV),zeta in medium (mV),no of cells (cells/well),time (hr),concentration (ug/ml),aspect ratio,viability (%),PDI,zeta potential (mV),concentration (μM),core size (nm),hydro size (nm),surface area,Hydrodynamic diameter (nm)
count,5186.000000,1843.000000,1721.000000,1922.000000,1324.000000,3050.000000,6224.000000,4228.000000,368.000000,6718.000000,546.000000,869.000000,2.274000e+03,1068.000000,1068.000000,1068.00000,6571.000000
mean,79.012067,137.662925,197.958751,-20.081129,-12.511140,51588.459016,33.164685,80.751037,151.461658,75.193507,0.408853,-8.722900,1.064845e+02,40.319850,370.504588,86.42603,133.049303
std,133.177930,132.283438,191.536390,23.944318,15.407166,123995.736807,23.700154,157.869764,500.545165,31.693755,0.227407,27.839407,8.981164e+02,35.743746,320.034182,133.12824,209.080987
min,1.150000,0.040000,7.600000,-158.000000,-63.310000,300.000000,1.000000,0.000000,0.100000,-58.897640,0.005000,-48.000000,1.660539e-20,5.900000,46.400000,7.00000,1.150000
25%,17.400000,35.800000,77.000000,-33.330000,-20.670000,10000.000000,24.000000,5.000000,2.880000,57.295575,0.230000,-33.330000,8.761490e-07,18.300000,208.300000,21.80000,20.000000
50%,29.570000,94.000000,142.110000,-24.520000,-11.600000,10000.000000,24.000000,25.000000,8.200000,85.767000,0.360000,-17.600000,2.801985e-04,28.400000,273.400000,42.50000,40.000000
75%,81.350000,188.000000,230.000000,-8.230000,-8.200000,50000.000000,48.000000,100.000000,41.800000,96.649375,0.573000,12.100000,6.960233e-03,50.000000,331.250000,93.10000,179.300000
max,957.000000,889.030000,1262.330000,88.000000,48.600000,1000000.000000,336.000000,1600.000000,3333.000000,404.811700,0.895000,87.000000,1.500000e+04,369.000000,1843.000000,640.00000,1843.000000

In [15]:
raw_db = raw_db.drop(['size in water (nm)',
                      'hydro size (nm)',
                      'diameter (nm)',
                      'type'], axis = 1)

In [16]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in water (mV),zeta in medium (mV),cell type,no of cells (cells/well),...,aspect ratio,viability (%),PDI,DOI,zeta potential (mV),concentration (μM),core size (nm),surface area,cell type.1,Hydrodynamic diameter (nm)
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,NaN,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,NaN,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,NaN,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,NaN,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,NaN,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,13.1,68.7,NaN,189.5
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,13.1,68.7,NaN,189.5
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,11.8,93.6,NaN,274.9
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,NaN,11.8,93.6,NaN,274.9
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,NaN,99.700,NaN,NaN,NaN,NaN,22.6,47.4,NaN,69.4

In [17]:
raw_db.describe()

,size in medium (nm),zeta in water (mV),zeta in medium (mV),no of cells (cells/well),time (hr),concentration (ug/ml),aspect ratio,viability (%),PDI,zeta potential (mV),concentration (μM),core size (nm),surface area,Hydrodynamic diameter (nm)
count,1721.000000,1922.000000,1324.000000,3050.000000,6224.000000,4228.000000,368.000000,6718.000000,546.000000,869.000000,2.274000e+03,1068.000000,1068.00000,6571.000000
mean,197.958751,-20.081129,-12.511140,51588.459016,33.164685,80.751037,151.461658,75.193507,0.408853,-8.722900,1.064845e+02,40.319850,86.42603,133.049303
std,191.536390,23.944318,15.407166,123995.736807,23.700154,157.869764,500.545165,31.693755,0.227407,27.839407,8.981164e+02,35.743746,133.12824,209.080987
min,7.600000,-158.000000,-63.310000,300.000000,1.000000,0.000000,0.100000,-58.897640,0.005000,-48.000000,1.660539e-20,5.900000,7.00000,1.150000
25%,77.000000,-33.330000,-20.670000,10000.000000,24.000000,5.000000,2.880000,57.295575,0.230000,-33.330000,8.761490e-07,18.300000,21.80000,20.000000
50%,142.110000,-24.520000,-11.600000,10000.000000,24.000000,25.000000,8.200000,85.767000,0.360000,-17.600000,2.801985e-04,28.400000,42.50000,40.000000
75%,230.000000,-8.230000,-8.200000,50000.000000,48.000000,100.000000,41.800000,96.649375,0.573000,12.100000,6.960233e-03,50.000000,93.10000,179.300000
max,1262.330000,88.000000,48.600000,1000000.000000,336.000000,1600.000000,3333.000000,404.811700,0.895000,87.000000,1.500000e+04,369.000000,640.00000,1843.000000

In [18]:
raw_db['Zeta potential (mV)'] = np.nan

In [19]:
raw_db['Zeta potential (mV)'].fillna(raw_db['zeta in water (mV)'],
                                     inplace=True)
raw_db['Zeta potential (mV)'].fillna(raw_db['zeta potential (mV)'],
                                     inplace=True)
raw_db['Zeta potential (mV)'].fillna(raw_db['surface charge'],
                                     inplace=True)

In [20]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in water (mV),zeta in medium (mV),cell type,no of cells (cells/well),...,viability (%),PDI,DOI,zeta potential (mV),concentration (μM),core size (nm),surface area,cell type.1,Hydrodynamic diameter (nm),Zeta potential (mV)
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,99.700,NaN,NaN,NaN,NaN,22.6,47.4,NaN,69.4,28.8

In [21]:
raw_db.describe()

,size in medium (nm),zeta in water (mV),zeta in medium (mV),no of cells (cells/well),time (hr),concentration (ug/ml),aspect ratio,viability (%),PDI,zeta potential (mV),concentration (μM),core size (nm),surface area,Hydrodynamic diameter (nm)
count,1721.000000,1922.000000,1324.000000,3050.000000,6224.000000,4228.000000,368.000000,6718.000000,546.000000,869.000000,2.274000e+03,1068.000000,1068.00000,6571.000000
mean,197.958751,-20.081129,-12.511140,51588.459016,33.164685,80.751037,151.461658,75.193507,0.408853,-8.722900,1.064845e+02,40.319850,86.42603,133.049303
std,191.536390,23.944318,15.407166,123995.736807,23.700154,157.869764,500.545165,31.693755,0.227407,27.839407,8.981164e+02,35.743746,133.12824,209.080987
min,7.600000,-158.000000,-63.310000,300.000000,1.000000,0.000000,0.100000,-58.897640,0.005000,-48.000000,1.660539e-20,5.900000,7.00000,1.150000
25%,77.000000,-33.330000,-20.670000,10000.000000,24.000000,5.000000,2.880000,57.295575,0.230000,-33.330000,8.761490e-07,18.300000,21.80000,20.000000
50%,142.110000,-24.520000,-11.600000,10000.000000,24.000000,25.000000,8.200000,85.767000,0.360000,-17.600000,2.801985e-04,28.400000,42.50000,40.000000
75%,230.000000,-8.230000,-8.200000,50000.000000,48.000000,100.000000,41.800000,96.649375,0.573000,12.100000,6.960233e-03,50.000000,93.10000,179.300000
max,1262.330000,88.000000,48.600000,1000000.000000,336.000000,1600.000000,3333.000000,404.811700,0.895000,87.000000,1.500000e+04,369.000000,640.00000,1843.000000

In [22]:
raw_db['Zeta potential (mV)'] = raw_db['Zeta potential (mV)'].replace('Negative', np.nan)

In [23]:
raw_db['Zeta potential (mV)'] = raw_db['Zeta potential (mV)'].replace('Positive', np.nan)

In [24]:
raw_db['Zeta potential (mV)'] = raw_db['Zeta potential (mV)'].replace('Neutral', 0)

In [25]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in water (mV),zeta in medium (mV),cell type,no of cells (cells/well),...,viability (%),PDI,DOI,zeta potential (mV),concentration (μM),core size (nm),surface area,cell type.1,Hydrodynamic diameter (nm),Zeta potential (mV)
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,-35.9,NaN,PC12,5000.0,...,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,NaN,386.9,-35.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,99.700,NaN,NaN,NaN,NaN,22.6,47.4,NaN,69.4,28.8

In [26]:
raw_db.describe()

,size in medium (nm),zeta in water (mV),zeta in medium (mV),no of cells (cells/well),time (hr),concentration (ug/ml),aspect ratio,viability (%),PDI,zeta potential (mV),concentration (μM),core size (nm),surface area,Hydrodynamic diameter (nm),Zeta potential (mV)
count,1721.000000,1922.000000,1324.000000,3050.000000,6224.000000,4228.000000,368.000000,6718.000000,546.000000,869.000000,2.274000e+03,1068.000000,1068.00000,6571.000000,3863.000000
mean,197.958751,-20.081129,-12.511140,51588.459016,33.164685,80.751037,151.461658,75.193507,0.408853,-8.722900,1.064845e+02,40.319850,86.42603,133.049303,-11.298713
std,191.536390,23.944318,15.407166,123995.736807,23.700154,157.869764,500.545165,31.693755,0.227407,27.839407,8.981164e+02,35.743746,133.12824,209.080987,27.814476
min,7.600000,-158.000000,-63.310000,300.000000,1.000000,0.000000,0.100000,-58.897640,0.005000,-48.000000,1.660539e-20,5.900000,7.00000,1.150000,-158.000000
25%,77.000000,-33.330000,-20.670000,10000.000000,24.000000,5.000000,2.880000,57.295575,0.230000,-33.330000,8.761490e-07,18.300000,21.80000,20.000000,-32.660000
50%,142.110000,-24.520000,-11.600000,10000.000000,24.000000,25.000000,8.200000,85.767000,0.360000,-17.600000,2.801985e-04,28.400000,42.50000,40.000000,-13.500000
75%,230.000000,-8.230000,-8.200000,50000.000000,48.000000,100.000000,41.800000,96.649375,0.573000,12.100000,6.960233e-03,50.000000,93.10000,179.300000,6.500000
max,1262.330000,88.000000,48.600000,1000000.000000,336.000000,1600.000000,3333.000000,404.811700,0.895000,87.000000,1.500000e+04,369.000000,640.00000,1843.000000,88.000000

In [27]:
raw_db = raw_db.drop(['zeta potential (mV)',
                      'zeta in water (mV)'], axis = 1)

In [28]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in medium (mV),cell type,no of cells (cells/well),human/animal,...,aspect ratio,viability (%),PDI,DOI,concentration (μM),core size (nm),surface area,cell type.1,Hydrodynamic diameter (nm),Zeta potential (mV)
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,NaN,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,NaN,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,NaN,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,NaN,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,NaN,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,NaN,99.700,NaN,NaN,NaN,22.6,47.4,NaN,69.4,28.8

In [29]:
raw_db['Cell type'] = np.nan

In [30]:
raw_db['Cell type'].fillna(raw_db['cell type'],
                                     inplace=True)
raw_db['Cell type'].fillna(raw_db['cell type.1'],
                                     inplace=True)

In [31]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in medium (mV),cell type,no of cells (cells/well),human/animal,...,viability (%),PDI,DOI,concentration (μM),core size (nm),surface area,cell type.1,Hydrodynamic diameter (nm),Zeta potential (mV),Cell type
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9,PC12
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9,PC12
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9,PC12
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9,PC12
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,PC12,5000.0,A,...,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,NaN,386.9,-35.9,PC12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6,NaN
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,13.1,68.7,NaN,189.5,27.6,NaN
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3,NaN
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,99.000,NaN,NaN,NaN,11.8,93.6,NaN,274.9,-35.3,NaN
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,99.700,NaN,NaN,NaN,22.6,47.4,NaN,69.4,28.8,NaN

In [32]:
raw_db = raw_db.drop(['cell type',
                      'cell type.1'], axis = 1)

In [33]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in medium (mV),no of cells (cells/well),human/animal,cell source,...,aspect ratio,viability (%),PDI,DOI,concentration (μM),core size (nm),surface area,Hydrodynamic diameter (nm),Zeta potential (mV),Cell type
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,NaN,113.670,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,NaN,97.265,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,NaN,108.730,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,NaN,98.451,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,NaN,98.056,NaN,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,13.1,68.7,189.5,27.6,NaN
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,13.1,68.7,189.5,27.6,NaN
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,11.8,93.6,274.9,-35.3,NaN
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,99.000,NaN,NaN,NaN,11.8,93.6,274.9,-35.3,NaN
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,NaN,99.700,NaN,NaN,NaN,22.6,47.4,69.4,28.8,NaN

In [34]:
raw_db = raw_db.drop(['cell line/primary cell',
                      'PDI'], axis = 1)

In [35]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in medium (mV),no of cells (cells/well),human/animal,cell source,...,test indicator,aspect ratio,viability (%),DOI,concentration (μM),core size (nm),surface area,Hydrodynamic diameter (nm),Zeta potential (mV),Cell type
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,TetrazoliumSalt,NaN,113.670,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,TetrazoliumSalt,NaN,97.265,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,TetrazoliumSalt,NaN,108.730,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,TetrazoliumSalt,NaN,98.451,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,TetrazoliumSalt,NaN,98.056,10.3109/15376516.2015.1070229,NaN,NaN,NaN,386.9,-35.9,PC12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,NaN,13.1,68.7,189.5,27.6,NaN
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,NaN,13.1,68.7,189.5,27.6,NaN
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,NaN,11.8,93.6,274.9,-35.3,NaN
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,NaN,11.8,93.6,274.9,-35.3,NaN
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.700,NaN,NaN,22.6,47.4,69.4,28.8,NaN

In [36]:
raw_db.describe()

,size in medium (nm),zeta in medium (mV),no of cells (cells/well),time (hr),concentration (ug/ml),aspect ratio,viability (%),concentration (μM),core size (nm),surface area,Hydrodynamic diameter (nm),Zeta potential (mV)
count,1721.000000,1324.000000,3050.000000,6224.000000,4228.000000,368.000000,6718.000000,2.274000e+03,1068.000000,1068.00000,6571.000000,3863.000000
mean,197.958751,-12.511140,51588.459016,33.164685,80.751037,151.461658,75.193507,1.064845e+02,40.319850,86.42603,133.049303,-11.298713
std,191.536390,15.407166,123995.736807,23.700154,157.869764,500.545165,31.693755,8.981164e+02,35.743746,133.12824,209.080987,27.814476
min,7.600000,-63.310000,300.000000,1.000000,0.000000,0.100000,-58.897640,1.660539e-20,5.900000,7.00000,1.150000,-158.000000
25%,77.000000,-20.670000,10000.000000,24.000000,5.000000,2.880000,57.295575,8.761490e-07,18.300000,21.80000,20.000000,-32.660000
50%,142.110000,-11.600000,10000.000000,24.000000,25.000000,8.200000,85.767000,2.801985e-04,28.400000,42.50000,40.000000,-13.500000
75%,230.000000,-8.200000,50000.000000,48.000000,100.000000,41.800000,96.649375,6.960233e-03,50.000000,93.10000,179.300000,6.500000
max,1262.330000,48.600000,1000000.000000,336.000000,1600.000000,3333.000000,404.811700,1.500000e+04,369.000000,640.00000,1843.000000,88.000000

In [37]:
raw_db.loc[raw_db["viability (%)"] < 0] = 0

In [38]:
raw_db = raw_db.drop(['aspect ratio',
                      'concentration (μM)'], axis=1)

In [39]:
'''
Needed parameters:
1) Material (CHECKED, 6718 samples)
2) Shape (CHECKED, 3387 samples)
3) Coating (CHECKED, 4322 samples)
4) Cell Source (CHECKED, 6224 samples)
5) Cell tissue (CHECKED, 6224 samples)
6) Cell morphology (CHECKED, 5652 samples)
7) Time, hours (CHECKED, 6224 samples)
8) Concentration, ug/ml (CHECKED, 4228 samples)
9) Test (CHECKED, 6224 samples)
10) Test indicator (CHECKED, 5652 samples)
11) Viability (CHECKED, 6718 samples)
12) Hydro diameter (CHECKED, 6571 samples)
13) Zeta potential (count from mean charge density, for uncoated only) !!!
14) Surface area (CHECKED, 1068 samples)
15) Core size, nm (CHECKED, 1068 samples)
16) No of cells (CHECKED, 3050 samples)
'''

'\nNeeded parameters:\n1) Material (CHECKED, 6718 samples)\n2) Shape (CHECKED, 3387 samples)\n3) Coating (CHECKED, 4322 samples)\n4) Cell Source (CHECKED, 6224 samples)\n5) Cell tissue (CHECKED, 6224 samples)\n6) Cell morphology (CHECKED, 5652 samples)\n7) Time, hours (CHECKED, 6224 samples)\n8) Concentration, ug/ml (CHECKED, 4228 samples)\n9) Test (CHECKED, 6224 samples)\n10) Test indicator (CHECKED, 5652 samples)\n11) Viability (CHECKED, 6718 samples)\n12) Hydro diameter (CHECKED, 6571 samples)\n13) Zeta potential (count from mean charge density, for uncoated only) !!!\n14) Surface area (CHECKED, 1068 samples)\n15) Core size, nm (CHECKED, 1068 samples)\n16) No of cells (CHECKED, 3050 samples)\n'

In [40]:
raw_db['test indicator'].value_counts()
sum(raw_db['test indicator'].value_counts())

5652

In [41]:
from molmass import Formula

In [42]:
raw_db['material'].value_counts()

Ag                755
Au                749
ZnO               727
TiO2              678
SiO2              657
Iron oxide        489
IronOxide         388
Pt                251
CuO               203
Bi                176
Al2O3             148
MWCNT             141
CeO2               87
QDs                84
MgO                84
SWCNT              82
HAP                82
Cu2O               80
NiO                73
C60                70
Bi2O3              60
Fe2O3              56
Co                 52
Gd2O3              39
HfO2               38
In2O3              38
La2O3              38
Hydroxyapatite     38
Sb2O3              37
CoO                29
Mn2O3              28
Co3O4              27
Fe3O4              26
ZrO2               25
MnO                20
C70                17
0                  17
Ti                 16
Cr                 16
QD                 16
Carbon             15
Graphite           12
Diamond            12
Ni                 10
CuS                10
Cu                  8
Mo                  5
CdO                 5
Se                  4
Name: material, dtype: int64

In [43]:
raw_db['material'] = raw_db['material'].replace('IronOxide', 'Fe3O4')
raw_db['material'] = raw_db['material'].replace('Iron Oxide', 'Fe3O4')
raw_db['material'] = raw_db['material'].replace('Iron oxide', 'Fe3O4')
raw_db['material'] = raw_db['material'].replace('MWCNT', 'C')
raw_db['material'] = raw_db['material'].replace('SWCNT', 'C')
raw_db['material'] = raw_db['material'].replace('Hydroxyapatite', 'CaHCO3')
raw_db['material'] = raw_db['material'].replace('HAP', 'CaHCO3')
raw_db['material'] = raw_db['material'].replace('Carbon', 'C')
raw_db['material'] = raw_db['material'].replace('Diamond', 'C')
raw_db['material'] = raw_db['material'].replace('Graphite', 'C')
raw_db['material'] = raw_db['material'].replace('C60', 'C')
raw_db['material'] = raw_db['material'].replace('C70', 'C')

In [44]:
raw_db = raw_db[raw_db.material != 'QD']
raw_db = raw_db[raw_db.material != 'QDs']
raw_db = raw_db[raw_db.material != 0]

In [45]:
materials = list(raw_db['material'])
mol_weights = []

for material in materials:
    mol_weights.append(Formula(material).mass)

In [46]:
raw_db['Molecular weight (g/mol)'] = pd.DataFrame({'col':mol_weights})

In [47]:
raw_db

,material,shape,coat/functional group,synthesismethod,surface charge,size in medium (nm),zeta in medium (mV),no of cells (cells/well),human/animal,cell source,...,test,test indicator,viability (%),DOI,core size (nm),surface area,Hydrodynamic diameter (nm),Zeta potential (mV),Cell type,Molecular weight (g/mol)
0,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,MTT,TetrazoliumSalt,113.670,10.3109/15376516.2015.1070229,NaN,NaN,386.9,-35.9,PC12,60.08431
1,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,MTT,TetrazoliumSalt,97.265,10.3109/15376516.2015.1070229,NaN,NaN,386.9,-35.9,PC12,60.08431
2,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,MTT,TetrazoliumSalt,108.730,10.3109/15376516.2015.1070229,NaN,NaN,386.9,-35.9,PC12,60.08431
3,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,MTT,TetrazoliumSalt,98.451,10.3109/15376516.2015.1070229,NaN,NaN,386.9,-35.9,PC12,60.08431
4,SiO2,Sphere,CTAB,Precipitation,Negative,90.09,NaN,5000.0,A,Rat,...,MTT,TetrazoliumSalt,98.056,10.3109/15376516.2015.1070229,NaN,NaN,386.9,-35.9,PC12,60.08431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8070,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,13.1,68.7,189.5,27.6,NaN,NaN
8071,NiO,NaN,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,13.1,68.7,189.5,27.6,NaN,NaN
8072,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,11.8,93.6,274.9,-35.3,NaN,NaN
8073,Sb2O3,NaN,NaN,NaN,-35.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000,NaN,11.8,93.6,274.9,-35.3,NaN,NaN
8074,ZnO,NaN,NaN,NaN,28.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.700,NaN,22.6,47.4,69.4,28.8,NaN,NaN

In [49]:
raw_db.to_csv('Tox_DB.csv')