In [1]:
import pandas as pd
db = pd.read_excel('C:/projects/laboratory/Nanoparticle_cytotoxicity/databases/Raw data from new article.xlsx')
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   material      574 non-null    object
 1   core_size     574 non-null    float64
 2   hydro_size    574 non-null    float64
 3   surf_charge   574 non-null    float64
 4   surf_area     574 non-null    float64
 5   Hsf           574 non-null    float64
 6   Ec            574 non-null    float64
 7   Ev            574 non-null    float64
 8   MeO           574 non-null    float64
 9   assay         574 non-null    object
 10  cell_line     574 non-null    object
 11  cell_species  574 non-null    object
 12  cell_origin   574 non-null    object
 13  cell_type     574 non-null    object
 14  time          574 non-null    int64
 15  dose          574 non-null    float64
 16  viability     574 non-null    float64
 17  toxicity      574 non-null    object
dtypes: float64(10), int64(1), object(7)
memory usage: 80.8+ KB

In [2]:
db = pd.DataFrame(db)

In [3]:
db.rename(columns = {'surf_charge' : 'surface charge (mV)',
                     'surf_area' :'surface area (m2/g)','cell_type':'cell type',
                     'viability':'viability (%)', 'core_size':'core size (nm)',
                     'hydro_size':'hydro size (nm)','cell_line':'cell line','cell_species':'cell species','cell_origin':'cell origin'}, inplace = True)

In [4]:
db

,material,core size (nm),hydro size (nm),surface charge (mV),surface area (m2/g),Hsf,Ec,Ev,MeO,assay,cell line,cell species,cell origin,cell type,time,dose,viability (%),toxicity
0,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.001,92.5258,nonToxic
1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.010,96.1340,nonToxic
2,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.100,93.5567,nonToxic
3,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,1.000,97.6804,nonToxic
4,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,5.000,94.8454,nonToxic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,ZnO,35.6,236.0,-41.6,27.9,-3.608,-3.89,-7.20,5.67,MTT,Caco_2,Human,Colon,Cancer,48,1.000,127.4363,nonToxic
570,ZnO,35.6,236.0,-41.6,27.9,-3.608,-3.89,-7.20,5.67,MTT,Caco_2,Human,Colon,Cancer,48,10.000,116.3751,nonToxic
571,ZnO,35.6,236.0,-41.6,27.9,-3.608,-3.89,-7.20,5.67,MTT,Caco_2,Human,Colon,Cancer,48,100.000,40.8796,Toxic
572,ZnO,35.6,236.0,-41.6,27.9,-3.608,-3.89,-7.20,5.67,MTT,Caco_2,Human,Colon,Cancer,24,0.100,86.8566,nonToxic
573,ZnO,35.6,236.0,-41.6,27.9,-3.608,-3.89,-7.20,5.67,MTT,Caco_2,Human,Colon,Cancer,24,1.000,84.4578,nonToxic

In [5]:
db1 = pd.read_excel('C:/projects/laboratory/Nanoparticle_cytotoxicity/databases/Meta-Analysis of Nanoparticle Cytotoxicity via Data-Mining the Literature.xlsx')
db1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 24 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Nanoparticle                        2896 non-null   object
 1   Type: Organic (O)/inorganic (I)     2896 non-null   object
 2   coat                                1052 non-null   object
 3   Diameter (nm)                       2896 non-null   float64
 4   Concentration μM                    2896 non-null   float64
 5   Zeta potential (mV)                 1261 non-null   float64
 6   Cells                               2896 non-null   object
 7   Cell line (L)/primary cells (P)     2896 non-null   object
 8   Human(H)/Animal(A) cells            2896 non-null   object
 9   Animal?                             651 non-null    object
 10  Cell morphology                     2896 non-null   object
 11  Cell age: embryonic (E), Adult (A)  2896 non-null   object
 12  Cell-organ/tissue source            2896 non-null   object
 13  Exposure time (h)                   2896 non-null   int64
 14  Test                                2896 non-null   object
 15  Test indicator                      2896 non-null   object
 16  Biochemical metric                  2896 non-null   object
 17  % Cell viability                    2896 non-null   float64
 18  Interference checked (Y/N)          2896 non-null   object
 19  Colloidal stability checked (Y/N)   2896 non-null   object
 20  Positive control (Y/N)              2896 non-null   object
 21  Publication year                    2896 non-null   int64
 22  Particle ID                         2896 non-null   int64
 23  Reference DOI                       2896 non-null   object
dtypes: float64(4), int64(3), object(17)
memory usage: 543.1+ KB

In [6]:
db1 = pd.DataFrame(db1)

In [7]:
db1.rename(columns = {'Nanoparticle':'material','Zeta potential (mV)':'zeta potential (mV)',
                      'Exposure time (h)':'time', '% Cell viability':'viability (%)',
                      'Cells':'cell line','Animal?':'cell species',
                      'Cell-organ/tissue source':'cell origin', 'Diameter (nm)':'diameter (nm)' }, inplace = True)

In [22]:
db1.describe()

,diameter (nm),Concentration μM,zeta potential (mV),time,viability (%),Publication year,Particle ID
count,2896.000000,2.896000e+03,1261.000000,2896.000000,2896.000000,2896.000000,2896.000000
mean,125.082465,8.574635e+01,-1.963933,35.515539,75.208409,2010.821133,59.613605
std,171.931194,7.979487e+02,28.925259,27.950149,34.267026,2.609359,33.874291
min,1.000000,1.660539e-20,-48.000000,1.000000,-58.897640,2004.000000,1.000000
25%,20.000000,2.500000e-06,-27.000000,24.000000,54.219643,2009.000000,29.000000
50%,49.200000,5.000000e-04,-8.000000,24.000000,86.965674,2011.000000,57.000000
75%,165.000000,1.054755e-02,17.700000,48.000000,97.652370,2012.000000,88.000000
max,957.000000,1.500000e+04,87.000000,336.000000,404.811700,2015.000000,118.000000

In [ ]:
"""

Cтранности в db1 (решить):
1) концентрации в микромолях
2) огромный разброс по концентрациям (проверить значения на адекватность)
3) максимальная дзета в 87 - это странно
4) максимальное время в 28 дней - верится слабо
5) максимальная жизнеспособность 404% - возможно, но лучше проверить, неужели так стимулирует рост клеток

"""

In [9]:
db2 = pd.read_excel('C:/projects/laboratory/Nanoparticle_cytotoxicity/databases/Cytotoxicity analysis of nanoparticles by association rule mining.xlsx')
db2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4111 entries, 0 to 4110
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   No                        4111 non-null   int64
 1   Year                      4111 non-null   int64
 2   Material                  4111 non-null   object
 3   Type                      4111 non-null   object
 4   Shape                     4111 non-null   object
 5   Coat/Functional Group     4111 non-null   object
 6   Synthesis_Method          4111 non-null   object
 7   Surface_Charge            3110 non-null   object
 8   Diameter (nm)             3278 non-null   float64
 9   Size_in_Water (nm)        2330 non-null   float64
 10  Size_in_Medium (nm)       1989 non-null   float64
 11  Zeta_in_Water (mV)        2487 non-null   float64
 12  Zeta_in_Medium (mV)       1670 non-null   float64
 13  Cell_Type                 4111 non-null   object
 14  No_of_Cells (cells/well)  3684 non-null   float64
 15  Human_Animal              4111 non-null   object
 16  Cell_Source               4111 non-null   object
 17  Cell_Tissue               4111 non-null   object
 18  Cell_Morphology           4111 non-null   object
 19  Cell_Age                  4111 non-null   object
 20  Cell Line_Primary Cell    4111 non-null   object
 21  Time (hr)                 4111 non-null   int64
 22  Concentration (ug/ml)     3889 non-null   float64
 23  Test                      4111 non-null   object
 24  Test_Indicator            4111 non-null   object
 25  Aspect_Ratio              380 non-null    float64
 26  Cell_Viability (%)        4111 non-null   float64
 27  PDI                       1000 non-null   float64
 28  Article_ID                4111 non-null   int64
 29  DOI                       4111 non-null   object
dtypes: float64(10), int64(4), object(16)
memory usage: 963.6+ KB

In [10]:
db2.rename(columns = {'Material':'material','Surface_Charge':'surface charge (mV)',
                      'Diameter (nm)':'diameter (nm)','Cell_Type':'cell type','Cell_Source':'cell species','Cell_Tissue':'cell origin',
                      'Time (hr)':'time','Concentration (ug/ml)':'dose (ug/mL)','Cell_Viability (%)':'viability (%)'}, inplace = True)

In [23]:
db2.describe()

,No,Year,diameter (nm),Size_in_Water (nm),Size_in_Medium (nm),Zeta_in_Water (mV),Zeta_in_Medium (mV),No_of_Cells (cells/well),time,dose (ug/mL),Aspect_Ratio,viability (%),PDI,Article_ID
count,4111.000000,4111.000000,3278.000000,2330.000000,1989.000000,2487.000000,1670.000000,3684.000000,4111.000000,3889.000000,380.000000,4111.000000,1000.000000,4111.000000
mean,2056.000000,2014.926539,47.337541,161.317318,201.079628,-10.793844,-11.847219,51227.415852,33.343225,152.849191,147.247079,75.409712,0.330952,75.413768
std,1186.887807,3.008173,62.051131,157.079816,202.080642,34.186789,15.778892,119087.964430,20.676919,556.328787,493.111329,30.854024,0.249619,44.821069
min,1.000000,2010.000000,1.150000,0.040000,1.900000,-158.000000,-63.310000,300.000000,1.000000,0.001000,0.100000,-3.780100,0.005000,1.000000
25%,1028.500000,2012.000000,14.300000,43.800000,77.000000,-33.330000,-20.670000,10000.000000,24.000000,8.000000,3.525000,58.069500,0.148000,37.000000
50%,2056.000000,2015.000000,28.200000,112.700000,142.000000,-17.600000,-11.600000,10000.000000,24.000000,40.000000,11.800000,85.280000,0.241000,77.000000
75%,3083.500000,2018.000000,50.000000,203.300000,222.000000,-2.200000,-7.700000,50000.000000,48.000000,100.000000,37.900000,97.227000,0.518000,116.000000
max,4111.000000,2020.000000,500.000000,889.030000,1262.330000,256.000000,56.000000,1000000.000000,96.000000,14015.200000,3333.000000,234.630000,0.895000,152.000000

In [ ]:
"""

Cтранности в db2 (решить):

1) зета-потенциалы точно ненормальные в воде (чистим всё больше 100 точно) (+ Алина)
2) минимальные размер в воде в долях нанометра - это явно ошибка, отвалидировать колонку на адекватность
3) жизнеспособности меньше нуля приводим к нулю (+ Алина)

"""

In [12]:
db3 = pd.read_excel('C:/projects/laboratory/Nanoparticle_cytotoxicity/databases/New_descriptors.xlsx')
db3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Material type                        494 non-null    object
 1   Elements                             494 non-null    object
 2   Electronegativity                    494 non-null    float64
 3   Ionic radius                         494 non-null    float64
 4   Core size (nm)                       494 non-null    float64
 5   Hydro size (nm)                      494 non-null    float64
 6   Surface charge (mV)                  494 non-null    float64
 7   Surface area (m2/g)                  494 non-null    float64
 8   Cell type                            494 non-null    int64
 9   Exposure dose (ug/mL)                494 non-null    float64
 10  Number of atoms                      494 non-null    int64
 11  Molecular weight (g/mol)             494 non-null    float64
 12  Topological polar surface area (Å²)  494 non-null    float64
 13  a (Å)                                494 non-null    float64
 14  b (Å)                                494 non-null    float64
 15  c (Å)                                494 non-null    float64
 16  α (°)                                494 non-null    int64
 17  β (°)                                494 non-null    float64
 18  γ (°)                                494 non-null    int64
 19  Density (g/cm3)                      494 non-null    float64
 20  Viability (%)                        494 non-null    float64
dtypes: float64(15), int64(4), object(2)
memory usage: 81.2+ KB

In [13]:
db3.rename(columns = {'Material type':'material','Elements':'elements',
                      'Electronegativity':'electronegativity', 'Ionic radius':'ionic radius','Core size (nm)':'core size (nm)','Hydro size (nm)':'hydro size (nm)',
                      'Surface charge (mV)':'surface charge (mV)','Surface area (m2/g)':'surface area (m2/g)',
                      'Cell type':'cell type','Exposure dose (ug/mL)':'dose (ug/mL)', 'Viability (%)':'viability (%)'}, inplace = True)

In [21]:
db3.describe()

,electronegativity,ionic radius,core size (nm),hydro size (nm),surface charge (mV),surface area (m2/g),cell type,dose (ug/mL),Number of atoms,Molecular weight (g/mol),Topological polar surface area (Å²),a (Å),b (Å),c (Å),α (°),β (°),γ (°),Density (g/cm3),viability (%)
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.00000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000
mean,1.613279,71.694534,27.789069,218.049798,11.357895,97.120445,0.508097,43.443117,3.787449,179.658570,34.68664,5.212664,5.713040,7.090787,83.076923,83.596154,91.943320,5.798239,81.385223
std,0.319842,16.675392,18.656805,65.486345,30.829307,159.591743,0.500441,63.028111,1.305848,101.372104,10.80140,2.642547,3.290484,3.784657,24.006552,24.252650,29.784024,2.210094,20.587101
min,1.100000,40.000000,11.800000,46.400000,-46.100000,13.000000,0.000000,0.400000,2.000000,60.080000,17.10000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.100000
25%,1.300000,58.000000,13.100000,189.500000,-2.100000,25.900000,0.000000,3.200000,3.000000,79.545000,34.10000,4.171000,3.945000,5.132000,90.000000,90.000000,90.000000,5.070000,81.550000
50%,1.650000,73.000000,18.300000,222.000000,21.400000,44.000000,1.000000,12.500000,5.000000,159.690000,43.40000,4.920000,5.028000,5.420000,90.000000,90.000000,90.000000,6.310000,87.000000
75%,1.900000,80.000000,43.800000,261.600000,28.800000,93.100000,1.000000,50.000000,5.000000,277.640000,43.40000,5.410000,5.752000,10.118000,90.000000,90.000000,120.000000,6.750000,94.000000
max,2.050000,103.200000,71.800000,313.800000,61.900000,640.000000,1.000000,200.000000,5.000000,362.500000,43.40000,10.796000,12.460000,13.728000,90.000000,99.500000,120.000000,9.970000,99.700000

In [ ]:
"""

Тут всё норм, самая адекватная база данных.

"""

In [15]:
dbl = db.append(db1, ignore_index=True)

C:\Users\serov\AppData\Local\Temp\ipykernel_4876\3525406286.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dbl = db.append(db1, ignore_index=True)

In [16]:
dbll = dbl.append(db2, ignore_index=True)

C:\Users\serov\AppData\Local\Temp\ipykernel_4876\3233971797.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dbll = dbl.append(db2, ignore_index=True)

In [17]:
db_final = dbll.append(db3, ignore_index=True)

C:\Users\serov\AppData\Local\Temp\ipykernel_4876\2681481093.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  db_final = dbll.append(db3, ignore_index=True)

In [18]:
db_final.drop(columns = ['Unnamed: 24', 'Unnamed: 25','Unnamed: 26'], axis = 1)

KeyError: "['Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'] not found in axis"

In [ ]:
db_final['material'].unique()

In [20]:
db_final.shape

(8075, 70)

In [19]:
db_final.describe()

,core size (nm),hydro size (nm),surface area (m2/g),Hsf,Ec,Ev,MeO,time,dose,viability (%),...,Number of atoms,Molecular weight (g/mol),Topological polar surface area (Å²),a (Å),b (Å),c (Å),α (°),β (°),γ (°),Density (g/cm3)
count,1068.000000,1068.000000,1068.00000,574.000000,574.000000,574.000000,574.000000,7581.000000,574.000000,8075.000000,...,494.000000,494.000000,494.00000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000
mean,40.319850,370.504588,86.42603,-7.266726,-3.947003,-7.565174,5.758955,33.489118,39.717458,76.211737,...,3.787449,179.658570,34.68664,5.212664,5.713040,7.090787,83.076923,83.596154,91.943320,5.798239
std,35.743746,320.034182,133.12824,3.651117,0.733751,0.983493,0.124592,23.723869,95.312219,31.658323,...,1.305848,101.372104,10.80140,2.642547,3.290484,3.784657,24.006552,24.252650,29.784024,2.210094
min,5.900000,46.400000,7.00000,-17.345000,-5.170000,-11.120000,5.670000,1.000000,0.000000,-58.897640,...,2.000000,60.080000,17.10000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.300000,208.300000,21.80000,-9.779000,-4.160000,-7.490000,5.670000,24.000000,1.000000,59.460191,...,3.000000,79.545000,34.10000,4.171000,3.945000,5.132000,90.000000,90.000000,90.000000,5.070000
50%,28.400000,273.400000,42.50000,-9.410000,-4.160000,-7.200000,5.770000,24.000000,12.500000,86.980000,...,5.000000,159.690000,43.40000,4.920000,5.028000,5.420000,90.000000,90.000000,90.000000,6.310000
75%,50.000000,331.250000,93.10000,-3.608000,-3.890000,-7.200000,5.770000,48.000000,50.000000,97.304709,...,5.000000,277.640000,43.40000,5.410000,5.752000,10.118000,90.000000,90.000000,120.000000,6.750000
max,369.000000,1843.000000,640.00000,-1.609000,-1.510000,-6.510000,6.190000,336.000000,1440.000000,404.811700,...,5.000000,362.500000,43.40000,10.796000,12.460000,13.728000,90.000000,99.500000,120.000000,9.970000